.loading {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    display: flex;
    transition: opacity 200ms linear;
    opacity: 0;
}

.loading.visible {
    opacity: 1;
}

.loading p {
    margin: 0;
    margin-right: 0.5rem;
}