.container {
    padding: 1rem;
    margin: 1rem;
}

.link {
    font-size: 2rem;
    padding-right: 0.5rem;
    color: #0084a9;
    text-decoration: none;
}

.red {
    color: #ef4135;
}

.green {
    color: #17BB75;
}

.header {
    display: flex;
    align-items: center;
}

.header h2 {
    margin-right: 0.5rem;
}

.tag {
    font-size: 0.7rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.3rem;
    background-color: #0084a9;
    border: 1px solid #005C75;
    border-radius: 3px;
    color: #F9F9FB;
    font-weight: normal;
}