.runner {
    width: 10.183rem;
    display: flex;
    margin: 0 0.75rem 0.75rem 0;
    padding: 0.4rem;
    border-radius: 4px;
    position:relative;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.07);
    font-size: 0.8rem;
}

.header {
    display: flex;
    margin-bottom: 0.25em;
}

.header .description {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header .label {
    margin-left: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 3px;
    background-color: #F0EFED;
    border: 1px solid #b5aea7;
    cursor: default;
}

.header .icon {
    margin-left: 0.3rem;
    line-height: 1rem;
}

.hidden {
    display: none;
}

.rocket {
    display: none;
    animation: rocket 1s infinite;
}

.rocket.running {
    display: inline-block;
}

@keyframes rocket {
  0%   { transform: rotate(-5deg); }
  50%   { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active {
    border: 2px solid #a3c293;
    background-color: #fcfff5;
    color: #2c662d;
}

.inactive {
    border: 2px solid #e0b4b4;
    background-color: #fff6f6;
    color: #9f3a38;
}

.runner a:link,
.runner a:visited {
    color: inherit;
    text-decoration: none;
}

.active a:hover,
.inactive a:hover {
    text-decoration: underline;
}

.job {
    font-size: 0.7rem;
    margin-top: 0.1rem;
}

.job a {
    color: #0084a9 !important;
    margin-bottom: 0.1rem;
}

.job a > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.green {
    color: #2c662d;
}

.red {
    color: #9f3a38;
}

.grey {
    color: #b5aea7;
}