.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    background-color: #455556;
    color: #F9F9FB;
    width: 35rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.07rem 0.28rem 0 rgba(0, 0, 0, 0.35);
    text-shadow: 0.14rem 0.14rem 0.28rem rgba(0,0,0,0.35); 
}

.header {
    margin: 1rem;
    font-size: 3rem;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.stats > div {
    flex-grow: 1;
}

.stat {
    margin: 1rem;
}

.major {
    border-right: 0.2rem solid rgba(0, 0, 0, 0.1);
}

.major > .value {
    font-size: 10rem;
}

.major > .context {
    font-size: 2rem;
}

.medium > .value {
    font-size: 7rem;
}

.medium > .context {
    font-size: 1.5rem;
}

.minor {
    display: flex;
    opacity: 0.75;
}

.minor > div {
    flex-grow: 1;
}

.minor .value {
    font-size: 4rem;
}

.minor .context {
    font-size: 1rem;
}

.coloured > .card:nth-child(1) {
    background-color: #17BB75;
}

.coloured > .card:nth-child(2) {
    background-color: #f57e20;
}

.coloured > .card:nth-child(3) {
    background-color: #a53f97;
}

.coloured > .card:nth-child(4) {
    background-color: #0084a9;
}

.coloured > .card:nth-child(5) {
    background-color: #ef4135;
}
