.container {
    display: flex;
    height: 300px;
    width: 676px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    align-items: center;
    justify-content: center;
    left: 50%;
    margin-left: -338px;
}

.image {
    margin-right: 2rem;
    height: 300px;
}