.container {
    min-width: 19rem;
    border-left: 0.07rem solid #b5aea7;
    margin-left: auto;
    overflow-y: auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
}

.header {
    font-size: 0.9rem;
    padding: 0.2rem;
    background-color: #005C75;
    border-bottom: 0.07rem solid #0C4D5F;
    color: #F9F9FB;
}

.hidden {
    display: none;
}

.itemContainer {
    padding: 0.5rem;
    font-size: 0.75rem;
    border-bottom: 0.07rem solid #b5aea7;
    background-color: #F9F9FB;
}

.itemHeader {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.info {
    display: flex;
}

.ref {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time {
    margin-left: auto;
}