.container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.runnerList {
    overflow-y: auto;
    height: 100%;
}

.runnerList h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #0084a9;
}


.listContainer {
    display: flex;
    flex-wrap: wrap;
}

.runnersContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 1rem;
    border: 0.07rem solid #b5aea7;
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.runnersContainer p {
    position: absolute;
    top: -0.65rem;
    left: 0.5rem;
    margin: 0;
    background-color: #F0EFED;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}